---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

# Basic formatting
IndentWidth: 4
ColumnLimit: 120
PointerAlignment: Left
ReferenceAlignment: Left
BinPackArguments: false
BinPackParameters: false

# C++ specific
RequiresClausePosition: OwnLine
IndentRequiresClause: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes

# Include sorting
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
IncludeCategories:
  - Regex:    '^<.*\.h>'
    Priority: 1
  - Regex:    '^<.*>'
    Priority: 2
  - Regex:    '^".*"'
    Priority: 3

# Alignment
IndentPPDirectives: BeforeHash
AlignConsecutiveMacros: AcrossEmptyLines
AlignOperands: Align
AlignEscapedNewlines: Left
AlignTrailingComments: true

# Line breaks
MaxEmptyLinesToKeep: 1
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: LogicalBlock
LambdaBodyIndentation: Signature